<div class="header-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="header-right">
					<ul class="list-unstyled list-inline">
						<% if user_signed_in? %>
							<li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">
                                	<i class="fa fa-user"></i> My Account
                                	<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/information"><i class="fa fa-cog"></i> Edit Information</a></li>
                                    <li><a href="/users/edit"><i class="fa fa-key"></i> Change Password</a></li>
                                </ul>
                            </li>
							<li>
								<%= link_to destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} do %>
									<i class="fa fa-sign-out"></i> Logout
								<% end %>
							</li>
						<% else %>
							<li>
								<a href="/users/sign_in"><i class="fa fa-sign-in"></i> Login</a>
							</li>
							<li>
								<a href="/users/sign_up"><i class="fa fa-user"></i> Sign Up</a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End header area -->

<div class="site-branding-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="logo">
					<h1><a href="/"><img src="/assets/logo.png"></a></h1>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="shopping-item">
					<a href="/carts">
						Cart - <span class="cart-amunt">
									<%= number_to_currency(cart_subtotal) ? number_to_currency(cart_subtotal) : "$0" %>
								</span> 
								<i class="fa fa-shopping-cart"></i> 
								<span class="product-count">
									<%= cart_item ? cart_item : 0 %>
								</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
	<div class="container">
		<div class="row">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/products">Products</a>
					</li>
					<li>
						<a href="#">Category</a>
					</li>
					<li>
						<a href="#">Others</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End mainmenu area -->