<div class="single-sidebar">
	<h2 class="sidebar-title">Search Products</h2>
	<%= form_tag search_path, method: :get do %>
		<input type="text" name="key" value="<%= params[:key] %>" placeholder="Search products...">
		<input type="submit" value="Search">
	<% end %>
</div>