<div class="product-big-title-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="product-bit-title text-center">
					<h2>Related Product <%= @product.name %></h2>
				</div>
			</div>
		</div>
	</div>
</div>

<% if @products.size  > 0%>
	<%= render partial: "shared/products", locals: {products: @products}%>
<% else %>
	<h3>Product not found !!!</h3>
<% end %>
